@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scroll-text {
    @apply flex items-center gap-3 text-4xl;
  }

  .words {
    height: 1.2em;
    overflow: hidden;
    color: #38bdf8;
  }

  .words span {
    display: block;
    animation: slideText 10s infinite;
  }

  @keyframes slideText {
    0%   { transform: translateY(0%); }
    20%  { transform: translateY(-100%); }
    40%  { transform: translateY(-200%); }
    60%  { transform: translateY(-300%); }
    80%  { transform: translateY(-400%); }
    100% { transform: translateY(0%); }
  }
}

#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  
}



